$font-stack: 'Open Sans', Helvetica, sans-serif;
$primary-color: #333;
$pa-cream: #f9f9f5;

/* Rory - these are the 10 PA colors */
$pa-pink: #e2014d;
$pa-yellow: #ffd600;
$pa-turquoise: #008e8f;
$pa-brown: #634400;
$navy-blue: #0c1444;
$pa-red: #fc1921;
$pa-orange: #faa433;
$pa-royal-blue: #232690;
$pa-light-green: #98cb99;
$pa-light-blue: #66afe9;



@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 font-family: $font-stack;
}

body {
 background: $pa-cream;
 color: $navy-blue;
 font-weight: 300;
}

#pageHeader {
   border-bottom: 10px solid $navy-blue;
  background: $pa-cream;
  padding: 0.5em;
  overflow: visible;
  position: relative;
  z-index: 100;  
  #logo {margin: 0.5em; display: inline-block;}
  #toggle {display: none;} 
}

#main-menu {
  float: right;
  width: auto;
  font-weight: 700;  
  
  .pure-menu-list {

    .pure-menu-has-children>.pure-menu-link:after {
     content: "\f078";
     font-family: FontAwesome;
    }
   
    
    .pure-menu-link {
     padding: 1em;
      &:hover, &:active, &:focus {
        background: none;
        color: $pa-turquoise;
      }
    }
    ul.pure-menu-children {
     width: 100%!important;
     background: $navy-blue;
     li.pure-menu-item {
      display: block;
      a {     
       text-decoration: none;
       &:hover {color: $pa-turquoise;}
      }
     }
    }
  }
 }


body.trend-explorer .pure-menu-link.te-btn,
body.locations-location .pure-menu-link.location-btn,
body.about .pure-menu-link.about-btn  {

  &:before {
    position: absolute;
    right: 50%;
    margin-right: -10px;
    top: 42px;
    margin-top: -0.25em;
    font-family: FontAwesome;
    content: "\f0d8";
    font-size: 31px;
    color: $navy-blue;
  }
} 

.pure-menu-link {
  color: $navy-blue;
}

.is-center { text-align:center; }
.splash {
  top: 100px;
  width: 100%;
  position: absolute;
      z-index: 1000;
}

.ng-scope { z-index: 0; line-height: 1 !important;}

.container {
  margin: 0 auto;
}

footer {
  background: $pa-brown;
  text-align: center;
  padding: 1em;
  p {margin: 0; padding: 0; color: $pa-cream;}
}

body.trend-explorer footer {
  display: none;
}

h3 a {color: white}


/*  Typography & Buttons  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.pure-button {
 font-weight: 600;
}

a {color: $pa-royal-blue;;
 &:hover {
  color: $pa-turquoise;
 }
}

/*  Home Page –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#mapContainer {
  background: #0c1444;
}

.locationPanel {
  background: white; 
  padding: 1em;
  width: 15em;
  
  h3 {
    margin: 0;
  }

  dd, dt { display: inline-block; margin: 0; width: 50%;}
  dt {font-weight: 600;}
  dd:after {display: block;}
}

#searchbox {
  text-align: center;
  color: $pa-cream;
  max-width: 800px;
  padding: 1em;
  
  form { margin-bottom: 1em;}
  
  input[type="text"] {
    border-radius: 4px 0 0 4px;
    position: relative;
    left: 3px; 
    width: 400px;
    color: $primary-color;
  }
  button {
    border-radius: 0 4px 4px 0; 
    position: relative;
    right: 3px;
    border: 1px solid #0078e7;
  }
    
  a#cta {
    background: $pa-yellow;
    color: navy;
    padding: 0.5em;
    font-size: 1.25em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
  }
}

.l-box {padding: 1em;}

#introduction {
 text-align: center;
 padding: 3em 0;
 
 #pa-logo {display: inline-block; margin-left: 188px;} 
 #edu {display: inline-block;}

}

#top-trends {
  background: $pa-turquoise; 
  color: $pa-cream;
  padding: 2em 0;
  
  h4 {
   font-size: 1.5em;
   font-weight: 500;
   margin: 0;
   text-transform: capitalize;
   color: $pa-yellow;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      padding: 0.5em 0;
      }
  }
  
  a.capitalize {
    text-transform: capitalize;
    background: $pa-yellow;
    color: $navy-blue;
  }
  
}


/*  Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– */


.page {
  max-width: 1280px;
  margin: 0 auto;
}



/*  Trend Explorer CSS –––––––––––––––––––––––––––––––––––––––––––––––––– */
#side-menu {
  margin-left: -20%; /* "#menu" width */
  width: 20%;
  min-width: 100px;
  position: fixed;
  top: 0;
  left: 20%;
  bottom: 0;
  z-index: 50; /* so the menu or its navicon stays above all content */
  background: $navy-blue;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  color: #a0abbe;
  
  button#showFiltersMobile {display: none;}
  
    h3 {font-size: 1em; font-weight: 600; color: white; text-transform: uppercase;}
    .padding {  padding: 60px 1em 1em 1em;}
    
    ul.filter {
      list-style-type: none;
      padding: 0;
      margin-bottom: 2em;
      li {
       border-bottom: 1px solid rgba(255, 255, 255, 0.1);
       padding: 0.5em 0;
        button {
         text-transform: capitalize;
         display: block;
         background: none;
         border: none;
         
         &.active {
          color: $pa-yellow;
          font-weight: 400;
          }
         &:focus {outline: none;}
        }

        &:first-child {
         border-top: 1px solid rgba(255, 255, 255, 0.1);
        }

       }
     }
    
   
}

button.pure-button span.active { color:white;background-color:#333; }

.ui-brush {
  background:$navy-blue;
  color: white;
  position:relative;
  bottom:0;right:0;left:0;
  height:50px;
  width:100%;
  margin: 0 auto;
  .tick {
    fill: white;
  }
}
.brush .extent {
  fill: $pa-yellow;
  shape-rendering:crispEdges;
}
.axis line,.axis path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.grid {
  path { stroke-width: 0; }
}

div.unavailableOverlay {
  width: 100%;
  z-index: 10; 
  background-color: rgba(90,90,90,0.3); 
  height: 100%; 
  position: absolute;

  p { text-align: center; top:40%; position:relative; color:white; font-size:2.4em;
    text-shadow: 0px 0px 3px gray;
  }
}

#graph-container div.unavailableOverlay{ 
  height: 94%; 
}

rect.legend-box { 
  fill:white; 
}

#wordcloud {
  .land { fill: #eaeae1; }
}

#graph-container {
  background: $pa-cream;
  position: absolute;
  height:92vh;
  right: 0;
  width: 80%;
  top: 8vh;

  .ui-brush { position:absolute; } 

  #wordcloud { margin-top: 0em; display:none; }
  #scatterplot { display:none; }
  #list { display:none; }
  #treemap { display:none; }

  .trendPanel {
    display:none; 
    position:absolute; 
    width:auto; 
    padding-left:5px; 
    padding-right:5px;
    background-color:$navy-blue; 
    color:white; 
    text-align: center; 
    z-index: 101; 
    padding: 1em;
    border-radius: 5px;
        
    h4 {
     text-transform: capitalize;
     font-size: 2.5em;
     font-weight: 400;
     margin: 0;
    }
    
    p {
     color: rgba(255, 255, 255, 0.75);
     margin-top: 0.25em;
     text-align: center;
    }
    
    a.close {
      font-size: 28px;
      position: absolute;
      z-index: 10000;
      right: -10px;
      top: -0.5em;
      line-height: 0;
      background: $navy-blue;
      padding: 0;
      width: 35px;
      height: 35px;
      text-align: center;
      border-radius: 3em;    
      
      i {
      position: relative;
        top: 3px;
        left: 0;
      }
      
      &:hover {
        cursor: pointer;
        i {color: $pa-red;}
      }
    }  
  }

  .trendPanel.active { display:block; }

  #overlay {  
    width: 100%;
    height: 100%;
    background-color: rgb(51, 51, 51);
    z-index: 100;
    display: none;
    position: absolute;
    top: 0px;
    opacity: 0.4;
  }
  #overlay.active { display:block; }
}

#graph-container.list-container {
  #list { display:block; } 
}

#graph-container.treemap-container {
  #treemap { display:block; 
    .node {
      border: solid 1px white;
      font: 10px sans-serif;
      line-height: 12px;
      overflow: hidden;
      position: absolute;
      text-indent: 2px;
    }
  }
}

#graph-container.scatterplot-container {
  .trendPanel { 

  }

  #overlay.active { display: none; }

  #scatterplot { 
    display:block; 
    .axis { 
      stroke: gray;
      stroke-width: 1px;
      shape-rendering: crispEdges;
      .tick { font-size: 0.8em; }
    }
    line, path { stroke-width: 1px; stroke: gray; }
  }
}

#graph-container.wordcloud-container {
  #wordcloud { display:block; }
  .trendPanel {
    min-width: 200px;
    width: 30%;
    top: 33%;
    margin: 0 auto;
    text-align: center;
    left: 33%;
    padding: 1em;
    border-radius: 5px;
  }
}

#series-container, .series-container {
  height:50vh;
  width:100%;
  position:relative;
  .label { stroke:lightgrey; font-size:0.9em; }
  .tick { stroke: lightgrey; opacity: 0.7; font-size:0.9em; } 
  path { stroke-width: 2; fill: none; }
  .axis path,
  .axis line {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
}






/*  Trend Profile  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

body.trends-trend {


#trendProfile {
  background: $navy-blue;
  padding: 3em 0;
  header.pageHeader, section {
    padding: 1em;
    border: 1px solid #ccc;
  }
  .container {background: $pa-cream; padding-bottom: 1em;}
  
  #graph-container {
    width:100%;
    position:relative; 
    height:50vh;
    right:auto;
    top:0px;
    .unavailableOverlay { height: 100%; }
  }

  #profileHeader {
  padding: 1em;
  img.locationMap {float: left; margin-right: 1em;}
  h1 {
    font-size: 5em;
    font-weight: 400;
    line-height: 0;
    text-transform: capitalize;
    margin: 0.25em;
    span.description { 
      display: block;
      font-size: 0.2em;
      font-weight: 700;
      line-height: 1;
      text-transform: none;
      position: relative;
      right: -0.25em;
    }
  }
   
   #trendInfo {
     padding-top: 2em;
      h4 {
       margin: 0; 
       text-align: center;
       }
       #trendChange {
         span {font-size: 3em; display: block;}
         p {margin: 0;}
       }
       .stats {
         .stat {font-size: 3em; 
          display: block; 
          width: 100%; 
          text-align: center;
         }
         p {margin: 0;}
       }       
       #relatedTrends {
       ul {list-style: none; padding: 0; margin: 0;}
       }
     }
   }

 
  #locationMap {height: 150px;}

  #graph-container {
    width:100%;
    position:relative; 
    height:50vh;
    right:auto;
    top:0px;
    .unavailableOverlay { height: 100%; }
  }
}


#filters {
 padding: 1em;
 background: #ecece5;;
 ul {
  padding: 0; margin: 0;
  display: inline;
  li {list-style: none;
   display: inline-block;
   margin: 0 1em;
   a { 
    text-decoration: none;
    padding: 0.25em 0.5em;
    border: $pa-turquoise solid 1px;
    color: $pa-turquoise;
    }
  &.selected {
   a {
    background: $pa-turquoise; 
    color: white;
    border-radius: 2px;
    }
    }
  }
  
 }
}

 
  #trendInfo {
    .stats {
      border-right: 1px solid #e9e9e9;
      &:last-child {border-right: none;}
      h4.increasing .fa-caret-down {display: none;}
      h4.decreasing .fa-caret-up {display: none;}
    }
  }

  #mapContainer {
    background: transparent;
    max-height: 220px;
    overflow-y: hidden;
    margin: 2em 0 0 0;
    .land { fill: rgba(200,200,200,0.5); }
  }
 
 #trend-graphs {
  margin: 0 1em 1em 1em;
  background: white;
  .history, .sources, .related {display: none; position:relative;}

  &.history-tab-open .history {display: block !important;}
  &.sources-tab-open .sources {display: block!important;}
  &.related-tab-open .related {display: block!important;}
 }
 
 .timespan-container {
  .ui-brush {
   background: $pa-cream;
   fill:white;
   .tick { fill: $navy-blue; }
    path, line {stroke: $navy-blue; }
    g.axis {filter: $navy-blue;}
    .background { fill: #e9e9e5; visibility: visible !important;
    }
    g.resize rect { background: url('../images/grip.png ')}
  }
 } 


 #trendSources {
  margin: 0 1em 1em 1em;
  background: white;
  .allSources, .twitterSources, .academicSources, .newsSources, .blogSources {display: none;}

  &.all-tab-open .allSources {display: block !important;}
  &.twitter-tab-open .twitterSources {display: block !important;}
  &.academic-tab-open .academicSources {display: block!important;}
  &.news-tab-open .newsSources {display: block!important;}
  &.blog-tab-open .blogSources {display: block!important;}
  
  ul.sourceList {
   list-style: none;
   margin: 0;
   padding: 0;
   li {
    padding: 0.5em 0;
    word-wrap: break-word;
    border-top: 1px solid #e9e9e9;
    span {
     display: block;
     font-size: 0.9em;
     margin-top: 0.5em;
    }
   }
  }
  .panelHeader {
   padding: 1em 0;
   h2 {display: inline-block; margin: 0;}
   div.exportButtons {
    float: right;
    a {
     background: $navy-blue;
     color: white;
     padding: 0.25em 0.5em;
     text-decoration: none;
     display: inline-block;
     &:hover {
      background: $pa-turquoise;
     }
    }
    }
  }
  
 } 

.pagination {
 padding: 0;
 li {
  margin-right: 0.5em;
  list-style: none;
  display: inline-block;
  a {
   text-decoration: none;
   border: 1px solid $pa-royal-blue;;
   color: $pa-royal-blue;;
   font-weight: 600;
   padding: 0.25em 0.5em;
   border-radius: 2px;
   &:hover {
    background: $pa-turquoise;
    border-color: $pa-turquoise;
    color: white;
   }
  }
  &.active {
   a {
    background: $pa-turquoise;
    border-color: $pa-turquoise;
    color: white;
   }
  }
 }
}

}


#node-container { 
  circle.node {
    cursor: pointer;
    stroke: #000;
    stroke-width: .5px;
  }

  line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
  }
}


/*  Location Profile  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

body.locations-location {

#cityProfile {
  background: $navy-blue;
  padding: 3em 0;
  header.pageHeader, section {
    padding: 1em;
    border: 1px solid #ccc;
  }


#profileHeader {
  padding: 1em;
  img.locationMap {float: left; margin-right: 1em;}
  h1 {
    font-size: 5em;
    font-weight: 400;
    line-height: 0;
    text-transform: capitalize;
    margin: 0.25em;
    span.description { 
    display: block;
    font-size: 0.2em;
    font-weight: 700;
    line-height: 1;
    text-transform: none;
    position: relative;
    right: -0.25em;
      }
   }
   
   #trendInfo {
     padding-top: 2em;
      h4 {
       margin: 0; 
       text-align: center;
       }
       #trendChange {
         span {font-size: 3em; display: block;}
         p {margin: 0;}
       }
       .stats {
         .stat {font-size: 3em; 
          display: block; 
          width: 100%; 
          text-align: center;
         }
         p {margin: 0;}
       }       
       #relatedTrends {
       ul {list-style: none; padding: 0; margin: 0;}
       }
     }
   }


  .container {background: $pa-cream;}
 
  #locationMap {height: 150px;}

  #graph-container {
    width:100%;
    position:relative; 
    height:50vh;
    right:auto;
    top:0px;
    .unavailableOverlay { height: 100%; }
  }
}


  #mapContainer {
    float: right;
    background: transparent;
    max-height: 220px;
    overflow-y: hidden;
    margin: 0 0 0 0;

   .land {
    fill: rgba(200,200,200,0.5);
   }

 }
 
 div.chart {
  div {padding: 0.25em;}
 }

}


/*  Tabs  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.tabs {
 padding: 1em 1em 0 1em;
}

button.tab {
 padding: 0.5em 1em;
 border: 1px solid #ccc;
 background: #ecece3;
 border-radius: 3px 3px 0 0;
 position: relative;
 bottom: -1px;
 cursor: pointer;
}

button.tab:focus {
 outline: none;
}

button.tab.active {
 background: white;
 border-bottom-color: white;
}


@media (max-width: 600px) {
 
/*  MOBILE: Layout  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
 padding-top: 50px;
}

  #pageHeader {
	  border-bottom-width: 0 !important; 
	  position: absolute; 
	  width: 100%;
	  padding: 0;
	  top: 0;
	  
	  #logo {
 	  margin: 10px 20px;
	  }
	  
	  #main-menu ul.pure-menu-list li {
 	  border-bottom: 1px solid grey;
	  }
	 .pure-menu-has-children {
 	 padding-bottom: 1em;
 	 & > a {
  	 color: grey;
  	 font-size: 0.5em;
  	 text-transform: uppercase;
  	 font-weight: 400;
  	 padding-top: 2em !important;
 	 }
   li {
     	  border-bottom: none !important;
 	 a {  	
  	  padding: 0.5em !important;
     }
    }
   } 
	  
	}


 body.trend-explorer .pure-menu-link.te-btn,
 body.locations-location .pure-menu-link.location-btn,
 body.about .pure-menu-link.about-btn  {
 
   &:before {
     position: relative;
     right: inherit;
     top: inherit;
     margin-top: inherit;
     font-family: FontAwesome;
     content: none;
     font-size: inherit;
     color: $navy-blue;
   }
 } 

  #toggle {
    display: block !important;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    margin: 0.25em;
    
    i {font-size: 2em;
     color: $navy-blue;
    }
  }


 #main-menu {
  width: 100%;
  float: none;
  background: $pa-cream;
  display: none;
  height: 100vh;
  margin-top: -50px;
  padding: 70px 0;
  text-align: center;
  
  ul.pure-menu-list{
   
   font-size: 1.5em;

   li {display: block;
    a {}
   }
   ul.pure-menu-children {
   background: $pa-cream;
    position: relative !important;
    display: block;
    .pure-menu-link:after {content: none !important;}
   }
      
   }
 }
 
 #main-menu .pure-menu-has-children > .pure-menu-link:after {content: none !important }
 
 
/*  MOBILE: Home Page  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

body.home {

.splash {
 position: absolute;
 height: auto;
 background: #0c1444;
 top: inherit;
 
 #searchbox {
  
  padding: 30px 20px 0 20px;
 
   h1 {
    margin: 0 0 1em 0;
    font-size: 1.25em;
    line-height: 1.25;
   }
   form {
    position: relative;
 
     input[type="text"] {
      width: 95% !important;
     }
     
     button {
       position: absolute;
       top: 0;
       right: 0;
     }
    }
    a#cta {
     width: 99%;
     font-size: 1em;
    }
  }
 }
 
 #introduction {
  padding: 3em 20px;
  img {
   max-width: 80%;
   height: auto; 
   }
  #pa-logo {display: block; margin-left: 0px; margin-bottom: 1em;} 
  #edu img{ max-width: 80%;}
 }
 
  #mapContainer {
   padding-top: 7.5em;
  }

 
 #top-trends {
  text-align: center;
  .locationTop {margin-bottom: 2em;}
  li {border: none;}
 }
 
}


/*  MOBILE: TRENDS EXPLORER  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
 
  #side-menu {
   width: 100%;
   position: relative;
   bottom: auto;
   
   .padding { padding-top: 1em; }

   #viewOptions { display: none; }
   
   button#showFiltersMobile {
    display: block;
    width: 100%;
    background: $pa-yellow;
    text-align: center;
    text-decoration: none;
   }
   
   #toggleViews {display: none;}

   }


  
  #graph-container {
   width: 100% !important;
  }
  
  #graph-container {
   top: auto;
   bottom: 0;   
   padding-top: 6em;
   
   #list {
    ul {
     margin: 0;
     padding: 0;
     list-style: none;
     text-align: center;
     li {
      border-bottom: 1px solid #e9e9e9;
      font-size: 2em;
      line-height: 1;
      font-weight: bold;
      padding: 10px 20px;
     }
    }
   }
  }
  
  
  #graph-container.wordcloud-container #wordcloud {
   display: none !important;
  }
  
  #graph-container.wordcloud-container #list {
   display: block !important;
  }
  
  .ui-brush {
   .tick {display: none;}
   .tick:nth-child(3n+1) {
      display: block;
   }
  }
  
  
/*  MOBILE: TRENDS PROFILE  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#profileHeader h1 {
 margin: 0.25em 0 0 0;
}

button.tab span {
 display: none;
}

/*  MOBILE: LOCATION PROFILE  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */


body.locations-location {
 section h2 {margin-top: 0;}
 div.chart {
  width: 100%;  
 }
}




} /* End of Mobile Styles    */



@media (max-width: 1200px) { 
  .mediumscr-hide { display:none; }
  div.locationPanel.mediumscr-hide { display:none; }
}

@media screen and (min-width:35.5em){}
  
@media screen and (min-width:48em){

  .container {
    max-width: 750px;
  }
  
}

@media screen and (min-width:64em){

  .container {
    max-width: 1000px;
  }

}

@media screen and (min-width:80em){
  
  .container {
    max-width: 1200px;
  }
  
}
