$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}


body {
	 background: #edeff5;
  font: 100% $font-stack;
  color: $primary-color;
}

#pageHeader {
		background: white;
  padding: 0.5em;
  overflow: visible;
  position: relative;
  z-index: 100;  
  #logo {margin: 0.5em; display: inline-block;}
}

#main-menu {
	float: right;
	width: auto;
}

.is-center { text-align:center; }
.splash {
  height: 0px;
  top: 100px;
  width: 100%;
  position: absolute;
}

.ng-scope { z-index: 0;}

/*  Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– */


.page {
	max-width: 1280px;
	margin: 0 auto;
}


/*  Profile Specific CSS –––––––––––––––––––––––––––––––––––––––––––––––––– */

#cityProfile {
	 padding-top: 3em;
  header, section {
   padding: 1em;
   border: 1px solid #ccc;
 }	
}

#profileHeader {
	overflow: auto;
	img.locationMap {float: left; margin-right: 1em;}
	h1 span { display: block; font-size: 0.5em;}	
}


/*  Trend Explorer CSS –––––––––––––––––––––––––––––––––––––––––––––––––– */
#side-menu {
	margin-left: -20%; /* "#menu" width */
	width: 20%;
	min-width: 100px;
	position: fixed;
	top: 0;
 left: 20%;
	bottom: 0;
	z-index: 50; /* so the menu or its navicon stays above all content */
	background: #2f323a;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	color: #a0abbe;
		h3 {font-size: 1em;}
		.padding {	padding: 60px 1em 1em 1em;}
		
		ul.filter {
			list-style-type: none;
			padding: 0;
			button {
				background: none; 
				border: 0; 
				padding: 0.5em;
				@include rounded(0.25em);
				&.selected {color: white;}
				&:hover {background: black;}
				&:focus { outline:none }
			}
		}
		
}

button.pure-button span.active { color:white;background-color:#333; }

#graph-container {
  position: absolute;
  height:93.5vh;
  right: 0;
  width: 80%;
  top: 6.5vh;

  #wordcloud {margin-top: 0em;}

  .ui-brush {
    background:#f8f8f8;
    position:absolute;
    bottom:0;right:0;left:0;
    height:50px;
    width:100%;
    margin: 0 auto;
  }
  .brush .extent {
    stroke:#fff;
    fill-opacity:0.125;
    shape-rendering:crispEdges;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .trendPanel { display:none; position:absolute; width:10%; background-color:#333; color:white; text-align: center; }

  .trendPanel.active { display:block; }

}