<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="udadisiApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="udadisiApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="udadisiApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="udadisiApp" class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Udadisi : </title>
  <meta name="description" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <!-- FONTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="app/assets/css/font-awesome.css">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app/assets/css/pure/pure-min.css">
  <link rel="stylesheet" href="app/assets/css/pure/pure-grids-responsive-min.css">
  <link rel="stylesheet" href="app/assets/css/style.css">
  
  <link rel="stylesheet" href="app/assets/css/app.css">


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  <script src="app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>


  <!-- icons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->  

  <link rel="apple-touch-icon" sizes="57x57" href="app/assets/images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="app/assets/images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="app/assets/images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="app/assets/images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="app/assets/images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="app/assets/images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="app/assets/images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="app/assets/images/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="app/assets/images/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="app/assets/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="app/assets/images/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="app/assets/images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="app/assets/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="app/assets/images/favicons/manifest.json">
  <link rel="mask-icon" href="app/assets/images/favicons/safari-pinned-tab.svg" color="#0c1444">
  <link rel="shortcut icon" href="app/assets/images/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="app/assets/images/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="app/assets/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">


</head>
<body data-ng-controller="MainCtrl" class="{{ activePage }}">
 
 <header id="pageHeader">

  <a href="#/home" id="logo"><img src="app/assets/images/udasisi-logo.png" alt="Udasisi"></a>
  
    <a href="" class="custom-toggle" ng-click="toggleMenu('open' , $event)" id="toggle"><i class="fa fa-bars"></i></a>

  <nav id="main-menu" class="pure-menu pure-menu-horizontal">

    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="#/home" ng-click="closeMenu($event)" class="pure-menu-link home-btn">Home</a></li>
      <li class="pure-menu-item"><a href="#/trend-explorer" ng-click="closeMenu($event)" class="pure-menu-link te-btn">Trend Explorer</a></li>
      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="" id="menuLink1" ng-click="closeMenu($event)" class="pure-menu-link location-btn">Location Reports</a>
        <ul class="pure-menu-children">
          <li ng-repeat="location in locations" class="pure-menu-item"><a href="#/locations/{{ location.name }}" ng-click="closeMenu($event)" class="pure-menu-link">{{ location.name | allAsGlobal }}</a></li>
        </ul>
      </li>
      <li class="pure-menu-item"><a href="#/about" ng-click="closeMenu($event)" class="pure-menu-link about-btn">About</a></li>
    </ul>
  </nav>
  
 </header>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  

  <div ng-view></div>
  
  <footer id="pageFooter">
	  
	  <p>  <i class="fa fa-genderless"></i> Practical Action uses technology to challenge poverty, working with poor women and men around the world.</p>
  </footer>

  <!-- In production use:
  <script src="app///ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  
  <script src="app/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="app/bower_components/angular/angular.js"></script>
  <script src="app/bower_components/angular-route/angular-route.js"></script>
  <script src="app/bower_components/angular-resource/angular-resource.js"></script>
  <script src="app/bower_components/d3/d3.js"></script>
  <script src="app/bower_components/d3-cloud/d3.layout.cloud.js"></script>
  <script src="app/bower_components/topojson/topojson.js"></script>
  <script src="app/bower_components/angular-paging/dist/paging.min.js"></script>
  <script src="app/bower_components/angular-snap/angular-snap.min.js"></script>

  <script src="app/js/app.js"></script>
  <script src="app/js/d3.legend.js"></script>
  <script src="app/js/animations.js"></script>
  <script src="app/js/controllers.js"></script>
  <script src="app/js/filters.js"></script>
  <script src="app/js/services.js"></script>
  <script src="app/js/directives.js"></script>
  <script src="app/js/ng-FitText.js"></script>
</body>
</html>