<div class="content">
<header>
<h1>About Udadisi</h1>
</header>

 <div id="paragraph-1" class="pure-g container row">
 <div class="pure-u-1">
		<p>Udadisi is a tool designed to enable the rapid exploration of key trends in the nexus between technology and international development. It scours the web from an initial curated list of sources, covering social media, academic publications and respected blogs, to unearth the hot trends, flash-in-the-pan fads, and momentum-building ideas in technology for development.</p>
 </div>
 </div>

 <div id="paragraph-2" class="row">
  <div class="container pure-g">
 <div class="pure-u-1-2">
  <p>Users can explore how emerging technologies are developing across three cities in the global south – Lima, Dhaka and Nairobi – and delve down to uncover those driving new innovations. In doing so, users can usefully spot where new opportunities may lie, and also use this as an ‘early warning system’ about potentially disruptive technologies.</p>
 </div>
 <div class="pure-u-1-2">
  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=800&h=600" />
 </div>
 </div>
 </div>

  <div id="paragraph-3" class="pure-g container row">
 <div class="pure-u-1">
  <p>Users can also weed out the tech fads whose hype exceeds their worthiness, or discover emerging technologies which have yet to hit the media hyperbowl, but which are gradually gaining momentum and innovation.</p>
 </div>
 </div>


 <div id="paragraph-2" class="row">
  <div class="container pure-g">
 <div class="pure-u-1-2">
  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=800&h=600" />
   </div>
 <div class="pure-u-1-2">
  <p>Udadisi is a completely open-source tool, and we encourage users to take what we have developed and adapt it to your own needs and build on these foundations. Add your own list of sources to track trends in new cities, or even track totally different trends beyond technology and development. Create new visualisations, or add new content miners. Get creative!</p>
 </div>
 </div>
 </div>

<div id="paragraph-3" class="pure-g container row">
 <div class="pure-u-1">
  <p><strong>Udadisi</strong> was developed by <a href="http://www.tirami.co.uk" target="_blank">Tirami</a>, a software development company, in collaboration with <a href="http://practicalaction.org/"  target="_blank">Practical Action</a> and the <a href="http://www.ed.ac.uk/schools-departments/global-development">University of Edinburgh Global Development Academy</a>, as part of the Technology and the Future of Work project, funded by the <a href="https://www.rockefellerfoundation.org/" target="_blank">Rockefeller Foundation.</a> </div>
 </div>
</div>
