<div ng-controller="HomeCtrl">

  <h1>EXPLORE THE TRENDS</h1>

  <!--<p>{{ trendsMessage }}</p>
  <ul class="trends">
    <li ng-repeat="trend in trends">
      <a href="#/trends/{{ trend.term }}">{{ trend.term }}</a>: {{ trend.occurrences }}
    </li>
  </ul>-->
  
  <div map-projection map-scale="0.85" style="width:100%;height:auto;" id="mapContainer">
    <div class="locationPanel" data-latitude="23.0300" data-longitude="72.5800">About Ahmedabad</div>
    <div class="locationPanel" data-latitude="-12.0433" data-longitude="-77.0283">About Lima</div>
    <div class="locationPanel" data-latitude="-1.2833" data-longitude="36.8167">About Nairobi</div>
  </div>

  <div class="pure-g top-trends">
    <div ng-repeat="(location, trends) in locations" class="pure-u-1-4">
      <h4 class="capitalize">Top {{ location | allAsGlobal }} Trends</h4>
      <ul><li ng-repeat="trend in trends">{{ trend.term }}</li></ul>
      <a class="capitalize" href="#/locations/{{ location }}">{{ location | allAsGlobal }} Profile</a>
    </div>
  </div>
  
</div>