<div class="static content">
<header>
<h1>How it works</h1>
</header>

 <div class="row para-cols">
  <div class="container pure-g">
   <div class="pure-u-1-1">
    <div class="text">
     <h2>The trend explorer</h2>
     <p>Use our Trend Explorer to look at which trends are appearing globally and in specific locations.</p>
     <p>Adjust the timespan to to look back and see how top trends have changed over time</p>
     <p>Drill down to see how location and sources affect the trends</p>
    </div>
     <img src="app/assets/images/hiw-trendexprorer.png" alt="The Practical Action Solar Chart" />
   </div>
  </div>
 </div>

 <div class="green row para-cols">
  <div class="container pure-g">
   <div class="pure-u-1-1">
    <img class="ipad" src="app/assets/images/hiw-trendreport.png" alt="The Practical Action Solar Chart" />
    <div class="text">
     <h2>Trend profiles</h2>
     <p>See our Trend Profile reports which contain information on how trends have changed over time, sources and related trends.</p>
    </div>
   </div>
  </div>
 </div>
 
  <div class="row para-cols">
  <div class="container pure-g">
   <div class="pure-u-1-1">
    <div class="text">
     <h2>Search for specific trends</h2>
     <p>Use the search box on the home page to find specific subjects that you're interested.</p>
    </div>
    <img src="app/assets/images/hiw-searchtrends.png" alt="The Practical Action Solar Chart" />
   </div>
  </div>
 </div>

 <div class="green row para-cols">
  <div class="container pure-g">
   <div class="pure-u-1-1">
    <img class="ipad" src="app/assets/images/hiw-locationreport.png" alt="The Practical Action Solar Chart" />
    <div class="text">
    <h2>Location profiles</h2>
    <p>See our Location Profile reports which contain information on the top and rising trends globally and locally.</p>
   </div>
  </div>
 </div>
 </div>

</div>
