<div id="cityProfile">
  <div  class="container">
  <header id="profileHeader" class="pageHeader pure-g">

    <div id="cityTitle" class="pure-u-1 pure-u-md-1-3 column">
      <h1><span class="description">Trends overview for </span> <span data-fittext>{{ location.name | allAsGlobal | unspecifiedFull }}</span></h1>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 column">
    </div>
      
    <div id="locationMap" class="pure-u-1 pure-u-md-1-3 column" ng-if="location.name.toLowerCase() != 'unspecified'">
      <div map-projection map-scale="location.scale" latlng = "[location.geo_coord.latitude, location.geo_coord.longitude]" style="width: 100%; height: 100%" id="mapContainer">
      </div>
    </div>

   
    <!--<div class="profileStats">
            <dl>
              <dt>Area</dt>
              <dd>696 km²</dd>
              <dt>Population Density</dt>
              <dd>4,850/km2 (12,600/sq mi)</dd>
            </dl>
    </div> -->
  </header>

  <div class = "pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <section id="topTrends">
        <h2>Top trends</h2>
        <p ng-if="(trends.length === 0) || (trends[0].velocity === 0)">No top trends available.</p>
        <div bar-graph collection="trends" property="'topval'">
        </div>
      </section>
    </div>  <!-- end city top trends --> 

    <div class="pure-u-1 pure-u-md-1-2">
      <section id="risingTrends">
        <h2>Rising trends</h2>
        <p ng-if="(trends.length === 0) || (trends[0].velocity === 0)">No rising trends available.</p>
        <div bar-graph collection="trends" property="'velocity'">
        </div>
      </section>
    </div>  <!-- end city rising trends --> 
  </div>
  <section id="trendsOverview">
    <h2>Overview of all {{ location.name | allAsGlobal | unspecifiedFull }} trends</h2>
    <div class = "series-container">
      
      <div ng-hide="dataAvailable" class="unavailableOverlay">
        <p>Data unavailable for selection <span>Adjust the timeline below to create a wider range</span></p>
      </div>
      <div time-series series-data="trends"></div>
    </div>
  </section> <!-- end city trends overview -->
  <div class="timespan-container" style="margin: 1em 0.5em;">
    <div timespan location="location" source="source" select-start="selectionStart" select-end="selectionEnd" interval="interval" start="spanStart" end="spanEnd" update-fn='getTrends' class='ui-brush'></div>
    <div id="timeSpanZoom">
      <button title="Zoom in to timeline" class="zoomControl zoomIn" update-fn="setSpanStart" select-start="selectionStart" select-end="selectionEnd" start="spanStart" end="spanEnd" zoom-direction="in"><i class="fa fa-search-plus"></i></button>
      <button title="Zoom out of timeline"  class ="zoomControl zoomOut" update-fn="setSpanStart" select-start="selectionStart" select-end="selectionEnd" start="spanStart" end="spanEnd" zoom-direction="out"><i class="fa fa-search-minus"></i></button>
    </div>  
  </div>
</div> 
</div> <!-- end cityProfile content -->

<div id="graph-tooltip" class="tooltip" style="opacity:0;"></div>