<div id="cityProfile">
  <div  class="container">
  <header id="profileHeader" class="pageHeader pure-g">

    <div id="cityTitle" class="pure-u-1 pure-u-md-1-3 column">
      <h1><span class="description">Trends overview for </span> <span data-fittext>{{ location.name | allAsGlobal }}</span></h1>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 column">
    </div>
      
    <div id="locationMap" class="pure-u-1 pure-u-md-1-3 column">
      <div map-projection map-scale="5" style="width: 100%; height: 100%" id="mapContainer">
        <div ng-repeat="location in locations"  ng-if="location.name" class="locationPanel" data-longitude="{{ location.longitude }}"></div>
      </div>
    </div>

   
    <!--<div class="profileStats">
            <dl>
              <dt>Area</dt>
              <dd>696 km²</dd>
              <dt>Population Density</dt>
              <dd>4,850/km2 (12,600/sq mi)</dd>
            </dl>
    </div> -->
  </header>

  <div class = "pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <section>
        <h2>Top trends</h2>
        <div bar-graph collection="trends" property="'topval'">
        </div>
      </section>
    </div>  <!-- end city top trends --> 

    <div class="pure-u-1 pure-u-md-1-2">
      <section>
        <h2>Rising trends</h2>
        <div bar-graph collection="trends" property="'velocity'">
        </div>
      </section>
    </div>  <!-- end city rising trends --> 
  </div>
  <section>
    <h2>Overview of all {{ location.name | allAsGlobal }} trends</h2>
    <div class = "series-container">
      <div ng-hide="dataAvailable" class="unavailableOverlay">
        <p>Data unavailable for selection</p>
      </div>
      <div time-series series-data="trends"></div>
    </div>
    <div timespan location="location" select-start="selectionStart" select-end="selectionEnd" interval="interval" start="spanStart" end="spanEnd" update-fn='getTrends' class='ui-brush'></div>
  </section> <!-- end city trends overview -->
</div> 
</div> <!-- end cityProfile content -->