<div ng-controller="ExplorerCtrl">

    <!-- Menu toggle -->
    <a href="#side-menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="side-menu">
	    
	    <div class="padding">

          <h3>View</h3>

          <button class="pure-button" ng-click="toggleView()">
            <span class="{{ showTextView | boolAsActive }}">Text view</span>|
            <span class="{{ !showTextView | boolAsActive }}">Chart view</span>
          </button>
          
			    <h3>Location Options</h3>
			    
			    <ul id="locationOptions" class="filter" ng-repeat="location in locations">
				    <li><button class ="locationToggle" target-location="{{location}}" location="location" select-start="selectionStart" interval="interval" update-fn='getTrends'>{{ location | allAsGlobal }}</button></li>
			    </ul>
			
			    <h3>Source Options</h3>
			    
			    <ul id="sourceOptions" class="filter">
					    <li><button class="selected">All sources</button></li>
					    <li><button>Blogs</button></li>
					    <li><button>News</button></li>
					    <li><button>Academia</button></li>
					    <li><button>Twitter</button></li>
			    </ul>
			
			    <h3>Velocity</h3>
			    <ul id="sourceOptions" class="filter">
					    <li><button class="selected">All</button></li>
					    <li><button>Low</button></li>
					    <li><button>Medium</button></li>
					    <li><button>High</button></li>
			    </ul>

    </div>
    </div>


  <div id="graph-container" class="wordcloud-container" style = "float:right; width:80%;">
    <div wordcloud id="wordcloud" style="" ng-hide="!showTextView" trends="trends"></div>
    <div scatter-plot ng-hide="showTextView" trends="trends"></div>
    <div timespan location="location" select-start="selectionStart" interval="interval" start="spanStart" end="spanEnd" update-fn='getTrends' class='ui-brush'></div>
    <div ng-visible="true" ng-click="resetPanels()" id="overlay"></div>
    <div ng-repeat="(idx,trend) in trends" class="trendPanel" id="trend-panel-{{ idx }}">
      <h4>{{ trend.term }}</h4>
      <a class="pure-button" href="#/trends/{{ trend.term }}">More details...</a>
    </div>
  </div>

</div>