<div id="trendProfile">
	<div class="container page">
  <header id="profileHeader" class="pageHeader">
  
  <div class="pure-g">
    <div class=" pure-u-1 pure-u-md-7-12">
	    <div class="pure-u-1 pure-u-md-1-2">
	      <h1><span class="description">Trend breakdown for </span> <span data-fittext>{{ trend }}</span></h1>
	    </div>
						
				<div id="trendInfo" class="pure-g">

	      <div id="trendChange" class="pure-u-1-2 pure-u-md-1-4 column stats">
	        <h4>Mentions</h4>
	        <span class="stat">{{ trendData.occurrences.toFixed(0) }}</span>
	      </div>
	
	      <div id="trendVelocity" class="pure-u-1-2 pure-u-md-1-4 column stats">
	        <h4 ng-class="{decreasing: trendData.velocity <= 0, increasing: trendData.velocity >= 1}">Score <i class="fa fa-caret-down"></i> <i class="fa fa-caret-up"></i></h4>
	        <span class="stat">{{ trendData.velocity.toFixed(2) }}</span>
	      </div>
	
	      <div id="trendHigh" class="pure-u-1-2 pure-u-md-1-4 column stats">
	        <h4>90 Day High</h4>
	        <span class="stat">{{ trendData.velocity.toFixed(2) }}</span>
	      </div>

	      <div id="trendLow" class="pure-u-1-2 pure-u-md-1-4 column stats">
	        <h4>90 Day Low</h4>
	        <span class="stat">{{ trendData.velocity.toFixed(2) }}</span>
	      </div>
	      	      
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-5-12">
      <div map-projection map-scale="1.0" style="width:100%;height:40vh;" latlng="[0.0, 0.0]" id="mapContainer" locations="prevalences">
        <div id="loc-{{ location.name }}" ng-repeat="location in prevalences"  ng-if="location.name != 'all'" class="locationPanel" data-spot-size="{{ location.prevalence * 20 }}" data-latitude="{{ location.geo_coord.latitude }}" data-longitude="{{ location.geo_coord.longitude }}"> {{ Math.round((location.prevalence)*100.0) }}% prevalent in {{ location.name }}</div>
      </div>
    </div>
  </div>

  </header>
  
  <div id="filters">
   Filter trend by location:
    <ul>
    <li ng-repeat="loc in locations" ng-class="{selected: location.name === loc.name}"><a href="#/trends/{{ trend }}?location={{ loc.name }}&selectionStart={{ selectionStart.getTime() }}&selectionEnd={{ selectionEnd.getTime() }}" class="upcase"><i class="fa fa-map-marker"></i> {{ loc.name | allAsGlobal }}</a></li>
    </ul>
  </div>
  
  <div id="graphTabs" class="tabs">
   <button class="tab active" ng-click="toggleView('history', $event)"><span>Trend </span>History</button>
   <button class="tab" ng-click="toggleView('sources', $event)"><span>Trend </span>Sources</button>
   <button class="tab" ng-click="toggleView('related', $event)">Related<span> Trends</span> </button>
  </div>

  <section id="trend-graphs" class="section history-tab-open">
    
    <div class="history">
      <h2>History of {{ trend.name }} trend</h2>
        
      <div class = "series-container">   
         <!--<button class="zr" style="position: relative; right: 30px; top: 30px;">Reset</button>-->
        <div ng-hide="dataAvailable" class="unavailableOverlay">
           <p>Data unavailable for selection</p>
        </div>
        <div time-series series-data="location.seriesData"></div>
      </div>
    </div>
    
    <div class="sources">
      <h2>Sources breakdown of {{ trend.name }} trend</h2>
      <div class = "series-container"> 
         <!--<button class="zr" style="position: relative; right: 30px; top: 30px;">Reset</button>-->
        <div ng-hide="sourcesDataAvailable" class="unavailableOverlay">
           <p>Data unavailable for selection</p>
        </div>
        <div time-series series-data="location.sourcesData"></div>
      </div>
    </div>

    <div class="related" style="position:relative;">
      <h2>Wordcloud of {{ trend.name }} related trends</h2>
      <div id = "graph-container" class = "wordcloud-container" style="height:50vh; width:100%;">   
        <div ng-hide="dataAvailable" class="unavailableOverlay">
          <p>Data unavailable for selection</p>
        </div>
        <div wordcloud id="wordcloud" property="'occurrences'" style="" map-scale="0.8" trends="relatedTrends"></div>
        <div ng-repeat="(idx,trend) in relatedTrends" class="trendPanel" id="trend-panel-{{ idx }}">
          <h4>{{ trend.term }}</h4>
          <p>Would you like to find out more about this trend?</p>
          <a class="pure-button" href="#/trends/{{ trend.term | urlEncode }}?selectionStart={{ selectionStart.getTime() }}&selectionEnd={{ selectionEnd.getTime() }}">Find out more</a>
          <a class="close" ng-click="resetPanels()"><i class="fa fa-times-circle-o"></i></a>
        </div>
        <div ng-visible="true" ng-click="resetPanels()" id="overlay"></div>
      </div>
    </div>
    
  </section>

  <div class="timespan-container" style="margin: 1em 0.5em;">
    <div timespan location="location" select-start="selectionStart" select-end="selectionEnd" interval="interval" start="spanStart" end="spanEnd" update-fn='getRelatedTrends' class='ui-brush'></div>
  </div>
 
  <div id="sourcesTabs" class="tabs">
   <button class="tab active" ng-click="toggleSources('all', $event)">All Sources</button>
   <button class="tab" ng-click="toggleSources('twitter', $event)">Twitter Sources</button>
   <button class="tab" ng-click="toggleSources('academic', $event)">Academic Sources</button>
   <button class="tab" ng-click="toggleSources('news', $event)">News Sources</button>
   <button class="tab" ng-click="toggleSources('blog', $event)">Blog sources</button>
  </div>

  <section id="trendSources" class="all-tab-open">
    
    <div class="allSources">
      <header class="panelHeader">
        <h2>All Sources</h2>
        <div class="exportButtons">
       <a class="pure-button" href="#"><i class="fa fa-arrow-down"></i>CSV</a>
       <a class="pure-button" href="#"><i class="fa fa-arrow-down"></i> PDF</a>
        </div>
      </header>
      
      
      <ul class="sourceList">
        <li ng-repeat="source in trendData.sources | limitTo:pageSize:pageIdx"><a href="{{ source.source_uri }}">{{ source.source_uri }}</a><span> from {{ source.source }} | on {{ source.posted | date:'yyyy-MM-dd HH:mm'}}</span>
        </li>
      </ul>

      <div paging page="0" page-size="pageSize" total="trendData.sources.length" paging-action="changePage(page)"></div>

    </div>

    <div class="twitterSources">
     <header class="panelHeader">
      <h2>Twitter Sources</h2>
      <div class="exportButtons">
       <a class="pure-button" href="#"><i class="fa fa-arrow-down"></i>CSV</a>
       <a class="pure-button" href="#"><i class="fa fa-arrow-down"></i> PDF</a>
      </div>
     </header>


      <ul class="sourceList">
        <li ng-repeat="source in tabs.twitter | limitTo:pageSize:pageIdx"><a href="{{ source.source_uri }}">{{ source.source_uri }}</a><span class="sourceMeta"> from {{ source.source }} | on {{ source.posted | date:'yyyy-MM-dd HH:mm'}}</span>
        </li>
      </ul>

      <div paging page="0" page-size="pageSize" total="tabs.twitter.length" paging-action="changePage(page)"></div>

    </div>

    <div class="academicSources">
     <header class="panelHeader">
      <h2>Academic Sources</h2>
      <div class="exportButtons">
       <a class="pure-button" href="#"><i class="fa fa-arrow-down"></i>CSV</a>
       <a class="pure-button" href="#"><i class="fa fa-arrow-down"></i> PDF</a>
      </div>
     </header>

      <ul class="sourceList">
        <li ng-repeat="source in tabs.academic | limitTo:pageSize:pageIdx"><a href="{{ source.source_uri }}">{{ source.source_uri }}</a><span class="sourceMeta"> from {{ source.source }} | on {{ source.posted | date:'yyyy-MM-dd HH:mm'}}</span>
        </li>
      </ul>

     <div paging page="0" page-size="pageSize" total="tabs.academic.length" paging-action="changePage(page)"></div>

    </div>

    <div class="newsSources">
     <header class="panelHeader">
      <h2>News Sources</h2>
      <div class="exportButtons">
       <a class="pure-button" href="#"><i class="fa fa-arrow-down"></i>CSV</a>
       <a class="pure-button" href="#"><i class="fa fa-arrow-down"></i> PDF</a>
      </div>
     </header>


      <ul class="sourceList">
        <li ng-repeat="source in tabs.news | limitTo:pageSize:pageIdx"><a href="{{ source.source_uri }}">{{ source.source_uri }}</a><span class="sourceMeta"> from {{ source.source }} | on {{ source.posted | date:'yyyy-MM-dd HH:mm'}}</span>
        </li>
      </ul>

     <div paging page="0" page-size="pageSize" total="tabs.news.length" paging-action="changePage(page)"></div>

    </div>
    
     <div class="blogSources">
     <header class="panelHeader">
      <h2>Blog Sources</h2>
      <div class="exportButtons">
       <a class="pure-button" href="#"><i class="fa fa-arrow-down"></i>CSV</a>
       <a class="pure-button" href="#"><i class="fa fa-arrow-down"></i> PDF</a>
      </div>
     </header>

      <ul class="sourceList">
        <li ng-repeat="source in tabs.blogs | limitTo:pageSize:pageIdx"><a href="{{ source.source_uri }}">{{ source.source_uri }}</a><span class="sourceMeta"> from {{ source.source }} | on {{ source.posted | date:'yyyy-MM-dd HH:mm'}}</span>
        </li>
      </ul>

     <div paging page="0" page-size="pageSize" total="tabs.blogs.length" paging-action="changePage(page)"></div>

    </div>   

  </section>
 </div>  
 </div>
 