<div id="trendProfile" class="page">
  <header id="profileHeader">
   
   	<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=150%C3%97150&w=150&h=150" alt="locationMap" class="locationMap" />
    <h1><span>Trend breakdown for</span>{{ trend }}</h1>
    
    <div class="profileStats">
						<dl>
						  <dt>Area</dt>
						  <dd>696 km²</dd>
						  <dt>Population Density</dt>
						  <dd>4,850/km2 (12,600/sq mi)</dd>
						</dl>
    </div>
    
  </header>
  
  <div id="trendTimeline">
	  <h2>Popularity over time</h2>
			<section>
	  <p>timeline goes here</p>
			</section>
	 </div>

			<div id="trendSources">
	  <h2>Sources</h2>

		  <section>
			  <ul>
				  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit
						    <span>from Source Name | on 31st July 2015</span>
				  </li>
				  <li>Maecenas vitae diam sit amet diam dictum efficitur sit amet ut sem
						    <span>from Source Name | on 31st July 2015</span>
				  </li>
				  <li>Cras venenatis mauris in urna ultrices commodo
						    <span>from Source Name | on 31st July 2015</span>
				  </li>
				  <li>Nulla vitae neque vitae risus rutrum posuere
						    <span>from Source Name | on 31st July 2015</span>
				  </li>
			  </ul>

		
		
			 </section>
			</div>

  
 </div> <!-- end cityProfile content -->
