@charset "UTF-8";
/* Rory - these are the 10 PA colors */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, sans-serif;
}

body {
  background: #f9f9f5;
  color: #0c1444;
  font-weight: 300;
}

#pageHeader {
  border-bottom: 10px solid #0c1444;
  background: #f9f9f5;
  padding: 0.5em;
  overflow: visible;
  position: relative;
  z-index: 100;
}
#pageHeader #logo {
  margin: 0.5em;
  display: inline-block;
}

#main-menu {
  float: right;
  width: auto;
  font-weight: 700;
}
#main-menu .pure-menu-has-children > .pure-menu-link:after {
  content: "\f078";
  font-family: FontAwesome;
}
#main-menu .pure-menu-link:hover, #main-menu .pure-menu-link:active, #main-menu .pure-menu-link:focus {
  background: none;
  color: #008e8f;
}

body.home .pure-menu-link.home-btn:before,
body.trend-explorer .pure-menu-link.te-btn:before,
body.locations-location .pure-menu-link.location-btn:before,
body.about .pure-menu-link.about-btn:before {
  position: absolute;
  right: 47%;
  top: 42px;
  margin-top: -12px;
  font-family: FontAwesome;
  content: "\f0d8";
  font-size: 31px;
  color: #0c1444;
}

.pure-menu-link {
  color: #0c1444;
}

.is-center {
  text-align: center;
}

.splash {
  height: 0px;
  top: 100px;
  width: 100%;
  position: absolute;
}

.ng-scope {
  z-index: 0;
}

.container {
  margin: 0 auto;
}

footer {
  background: #634400;
  text-align: center;
  padding-bottom: 1em;
}
footer p {
  margin-top: 0;
  padding-top: 1em;
  color: #f9f9f5;
}

body.trend-explorer footer {
  display: none;
}

/*  Home Page –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#mapContainer {
  background: #0c1444;
}

.locationPanel {
  background: white;
  padding: 1em;
  width: 15em;
}
.locationPanel h3 {
  margin: 0;
}
.locationPanel dd, .locationPanel dt {
  display: inline-block;
  margin: 0;
  width: 50%;
}
.locationPanel dt {
  font-weight: 600;
}
.locationPanel dd:after {
  display: block;
}

#searchbox {
  height: 0;
  text-align: center;
  color: #f9f9f5;
  max-width: 800px;
  padding: 1em;
}
#searchbox form {
  margin-bottom: 1em;
}
#searchbox input[type="text"] {
  border-radius: 4px 0 0 4px;
  position: relative;
  left: 3px;
  width: 400px;
  color: #333;
}
#searchbox button {
  border-radius: 0 4px 4px 0;
  position: relative;
  right: 3px;
  border: 1px solid #0078e7;
}
#searchbox a#cta {
  background: #ffd600;
  color: navy;
  padding: 0.5em;
  font-size: 1.25em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
}

.l-box {
  padding: 1em;
}

#introduction {
  text-align: center;
  padding: 3em 0;
}

#top-trends {
  background: #008e8f;
  color: #f9f9f5;
  padding: 2em 0;
}
#top-trends h4 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}
#top-trends ul {
  list-style-type: none;
  padding: 0;
}
#top-trends ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0.25em 0;
}
#top-trends a.capitalize {
  text-transform: capitalize;
}

/*  Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page {
  max-width: 1280px;
  margin: 0 auto;
}

/*  Profile Specific CSS –––––––––––––––––––––––––––––––––––––––––––––––––– */
#trendProfile, #cityProfile {
  background: #0c1444;
  padding: 3em 0;
}
#trendProfile header, #trendProfile section, #cityProfile header, #cityProfile section {
  padding: 1em;
  border: 1px solid #ccc;
}
#trendProfile .container, #cityProfile .container {
  background: #f9f9f5;
}
#trendProfile #locationMap, #cityProfile #locationMap {
  height: 200px;
}

#profileHeader {
  padding: 1em;
}
#profileHeader img.locationMap {
  float: left;
  margin-right: 1em;
}
#profileHeader h1 {
  font-size: 5em;
  font-weight: 400;
  line-height: 1.25em;
  text-transform: capitalize;
  margin: 0.25em 0 0 0;
}
#profileHeader h1 span {
  display: block;
  font-size: 0.2em;
  font-weight: 700;
  line-height: 0.25em;
  text-transform: none;
}
#profileHeader #trendInfo {
  padding-top: 2em;
}
#profileHeader #trendInfo h4 {
  margin: 0;
}
#profileHeader #trendInfo #trendChange span {
  font-size: 3em;
}
#profileHeader #trendInfo #trendChange p {
  margin: 0;
}
#profileHeader #trendInfo #trendVelocity #rate {
  font-size: 3em;
}
#profileHeader #trendInfo #trendVelocity p {
  margin: 0;
}
#profileHeader #trendInfo #relatedTrends ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#filters ul {
  list-style: none;
}
#filters ul li {
  display: inline-block;
}
#filters ul li a {
  padding: 1em;
}
#filters ul li a i.fa {
  margin-right: 0.5em;
}

/*  Trend Explorer CSS –––––––––––––––––––––––––––––––––––––––––––––––––– */
#side-menu {
  margin-left: -20%;
  /* "#menu" width */
  width: 20%;
  min-width: 100px;
  position: fixed;
  top: 0;
  left: 20%;
  bottom: 0;
  z-index: 50;
  /* so the menu or its navicon stays above all content */
  background: #0c1444;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  color: #a0abbe;
}
#side-menu h3 {
  font-size: 1em;
}
#side-menu .padding {
  padding: 60px 1em 1em 1em;
}
#side-menu ul.filter {
  list-style-type: none;
  padding: 0;
}
#side-menu ul.filter button {
  text-transform: capitalize;
  background: none;
  border: 0;
  padding: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
#side-menu ul.filter button.selected {
  color: white;
}
#side-menu ul.filter button:hover {
  background: black;
}
#side-menu ul.filter button:focus {
  outline: none;
}

button.pure-button span.active {
  color: white;
  background-color: #333;
}

.ui-brush {
  background: #0c1444;
  color: white;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

.brush .extent {
  fill: #008e8f;
  shape-rendering: crispEdges;
}

.tick {
  fill: white;
}

.axis line, .axis path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

#series-container {
  height: 50vh;
  width: 100%;
  position: relative;
}

div.unavailableOverlay {
  width: 100%;
  z-index: 10;
  background-color: rgba(90, 90, 90, 0.3);
  height: 100%;
  position: absolute;
}
div.unavailableOverlay p {
  text-align: center;
  top: 40%;
  position: relative;
  color: white;
  font-size: 1.6em;
}

rect.legend-box {
  fill: white;
}

#wordcloud .land {
  fill: #eaeae1;
}

#graph-container {
  background: #f9f9f5;
  position: absolute;
  height: 92vh;
  right: 0;
  width: 80%;
  top: 8vh;
}
#graph-container .ui-brush {
  position: absolute;
}
#graph-container #wordcloud {
  margin-top: 0em;
  display: none;
}
#graph-container #scatterplot {
  display: none;
}
#graph-container #list {
  display: none;
}
#graph-container #treemap {
  display: none;
}
#graph-container .trendPanel {
  display: none;
  position: absolute;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #0c1444;
  color: white;
  text-align: center;
  z-index: 101;
}
#graph-container .trendPanel h4 {
  text-transform: capitalize;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}
#graph-container .trendPanel p {
  color: rgba(255, 255, 255, 0.75);
  margin-top: 0.25em;
  float: left;
  width: 100%;
  text-align: center;
}
#graph-container .trendPanel a.close {
  font-size: 28px;
  position: absolute;
  z-index: 10000;
  right: -10px;
  top: -0.5em;
  line-height: 0;
  background: #0c1444;
  padding: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 3em;
}
#graph-container .trendPanel a.close i {
  position: relative;
  top: 3px;
  left: 0;
}
#graph-container .trendPanel a.close:hover {
  cursor: pointer;
}
#graph-container .trendPanel a.close:hover i {
  color: #fc1921;
}
#graph-container .trendPanel.active {
  display: block;
}
#graph-container #overlay {
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 100;
  display: none;
  position: absolute;
  top: 0px;
  opacity: 0.4;
}
#graph-container #overlay.active {
  display: block;
}

#graph-container.list-container #list {
  display: block;
}

#graph-container.treemap-container #treemap {
  display: block;
}
#graph-container.treemap-container #treemap .node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

#graph-container.scatterplot-container .trendPanel .pure-button {
  display: none;
}
#graph-container.scatterplot-container #overlay.active {
  display: none;
}
#graph-container.scatterplot-container #scatterplot {
  display: block;
}

#graph-container.wordcloud-container #wordcloud {
  display: block;
}
#graph-container.wordcloud-container .trendPanel {
  min-width: 200px;
  width: 30%;
  top: 33%;
  margin: 0 auto;
  text-align: center;
  left: 33%;
  padding: 1em;
  border-radius: 5px;
}

#series-container path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
#series-container .axis path,
#series-container .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

/*  Trend Profile  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#node-container circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}
#node-container line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

@media (max-width: 1200px) {
  .mediumscr-hide {
    display: none;
  }

  div.locationPanel.mediumscr-hide {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  .container {
    max-width: 750px;
  }
}
@media screen and (min-width: 64em) {
  .container {
    max-width: 1000px;
  }
}
@media screen and (min-width: 80em) {
  .container {
    max-width: 1200px;
  }
}

/*# sourceMappingURL=style.css.map */
