@charset "UTF-8";
/* Rory - these are the 10 PA colors */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, sans-serif;
}

body {
  background: #f9f9f5;
  color: #0c1444;
  font-weight: 300;
}

#loading-overlay {
  z-index: 1000;
  background: none;
  background: rgba(100, 100, 100, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
}
#loading-overlay .loader-wrapper {
  width: 150px;
  position: relative;
  height: 100%;
  left: 50%;
  top: 50%;
}
#loading-overlay .loader-wrapper img {
  left: -75px;
  position: absolute;
  top: -75px;
}

#pageHeader {
  z-index: 1001;
  border-bottom: 10px solid #0c1444;
  background: #f9f9f5;
  padding: 0.5em;
  overflow: visible;
  position: relative;
}
#pageHeader #logo {
  margin: 0.5em;
  display: inline-block;
}
#pageHeader #toggle {
  display: none;
}

#main-menu {
  float: right;
  width: auto;
  font-weight: 700;
}
#main-menu .pure-menu-list .pure-menu-has-children > .pure-menu-link:after {
  content: "\f078";
  font-family: FontAwesome;
}
#main-menu .pure-menu-list .pure-menu-link {
  padding: 1em;
}
#main-menu .pure-menu-list .pure-menu-link:hover, #main-menu .pure-menu-list .pure-menu-link:active, #main-menu .pure-menu-list .pure-menu-link:focus {
  background: none;
  color: #008e8f;
}
#main-menu .pure-menu-list ul.pure-menu-children {
  background: #f9f9f5;
  width: 100% !important;
}
#main-menu .pure-menu-list ul.pure-menu-children li.pure-menu-item {
  display: block;
}
#main-menu .pure-menu-list ul.pure-menu-children li.pure-menu-item a {
  text-decoration: none;
}
#main-menu .pure-menu-list ul.pure-menu-children li.pure-menu-item a:hover {
  color: #008e8f;
}

body.trend-explorer .pure-menu-link.te-btn:before,
body.locations-location .pure-menu-link.location-btn:before,
body.about .pure-menu-link.about-btn:before {
  position: absolute;
  right: 50%;
  margin-right: -10px;
  top: 42px;
  margin-top: -0.25em;
  font-family: FontAwesome;
  content: "\f0d8";
  font-size: 31px;
  color: #0c1444;
}

.pure-menu-link {
  color: #0c1444;
}

.is-center {
  text-align: center;
}

.splash {
  top: 100px;
  width: 100%;
  position: absolute;
  z-index: 10;
}

#mapSearchWrapper {
  background: #0c1444;
}

.ng-scope {
  z-index: 0;
  line-height: 1 !important;
}

.container {
  margin: 0 auto;
}

footer {
  z-index: 1001;
  background: #634400;
  text-align: center;
  padding: 1em;
  position: relative;
}
footer p {
  margin: 0;
  padding: 0;
  color: #f9f9f5;
}

body.trend-explorer footer {
  display: none;
}

h3 a {
  color: white;
}

/*  Typography & Buttons  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.pure-button {
  font-weight: 600;
}

a {
  color: #232690;
}
a:hover {
  color: #008e8f;
}

/*  Home Page –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#mapContainer {
  background: #0c1444;
  padding-top: 3em;
}

.locationPanel {
  background: white;
  padding: 1em;
  width: 15em;
}
.locationPanel h3 {
  margin: 0;
}
.locationPanel dd, .locationPanel dt {
  display: inline-block;
  margin: 0;
  width: 50%;
}
.locationPanel dt {
  font-weight: 600;
}
.locationPanel dd:after {
  display: block;
}

#searchbox {
  text-align: center;
  color: #f9f9f5;
  max-width: 800px;
  padding: 1em;
}
#searchbox form {
  margin-bottom: 1em;
}
#searchbox input[type="text"] {
  border-radius: 4px 0 0 4px;
  position: relative;
  left: 3px;
  width: 400px;
  color: #333;
}
#searchbox button {
  border-radius: 0 4px 4px 0;
  position: relative;
  right: 3px;
  border: 1px solid #0078e7;
}
#searchbox a#cta {
  background: #ffd600;
  color: navy;
  padding: 0.5em;
  font-size: 1.25em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
}

.l-box {
  padding: 1em;
}

#introduction {
  text-align: center;
  padding: 3em 0;
}
#introduction #pa-logo {
  display: inline-block;
  margin-left: 188px;
}
#introduction #edu {
  display: inline-block;
}

#top-trends {
  background: #008e8f;
  color: #f9f9f5;
  padding: 2em 0;
}
#top-trends h4 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
  color: #ffd600;
}
#top-trends ul {
  list-style-type: none;
  padding: 0;
}
#top-trends ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0.5em 0;
}
#top-trends a.capitalize {
  text-transform: capitalize;
  background: #ffd600;
  color: #0c1444;
}

/*  Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page {
  max-width: 1280px;
  margin: 0 auto;
}

/*  Trend Explorer CSS –––––––––––––––––––––––––––––––––––––––––––––––––– */
#side-menu {
  margin-left: -20%;
  /* "#menu" width */
  width: 20%;
  min-width: 100px;
  position: fixed;
  top: 0;
  left: 20%;
  bottom: 0;
  z-index: 50;
  /* so the menu or its navicon stays above all content */
  background: #0c1444;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  color: #a0abbe;
}
#side-menu button#showFiltersMobile {
  display: none;
}
#side-menu h3 {
  font-size: 1em;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
#side-menu .padding {
  padding: 60px 1em 1em 1em;
}
#side-menu ul.filter {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
}
#side-menu ul.filter li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5em 0;
}
#side-menu ul.filter li#hidelist {
  display: none;
}
#side-menu ul.filter li button {
  text-transform: capitalize;
  display: block;
  background: none;
  border: none;
}
#side-menu ul.filter li button.active {
  color: #ffd600;
  font-weight: 400;
}
#side-menu ul.filter li button:focus {
  outline: none;
}
#side-menu ul.filter li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

button.pure-button span.active {
  color: white;
  background-color: #333;
}

.ui-brush {
  z-index: 999;
  background: #0c1444;
  color: white;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0 auto;
}
.ui-brush .tick {
  fill: white;
}

.brush .extent {
  fill: #ffd600;
  shape-rendering: crispEdges;
  height: 16px;
  transform: translate(0px, 4px);
}

.axis line, .axis path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

div.unavailableOverlay {
  width: 100%;
  z-index: 10;
  background-color: rgba(90, 90, 90, 0.3);
  height: 100%;
  position: absolute;
}
div.unavailableOverlay p {
  text-align: center;
  top: 40%;
  position: relative;
  color: white;
  font-size: 2.4em;
  text-shadow: 0px 0px 3px gray;
}

#graph-container div.unavailableOverlay {
  height: 94%;
}

rect.legend-box {
  fill: white;
}

#wordcloud .land {
  fill: #eaeae1;
}

.trendPanel {
  display: none;
  position: absolute;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #0c1444;
  color: white;
  text-align: center;
  z-index: 101;
  padding: 1em;
  border-radius: 5px;
}
.trendPanel h4 {
  text-transform: capitalize;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}
.trendPanel p {
  color: rgba(255, 255, 255, 0.75);
  margin-top: 0.25em;
  text-align: center;
}
.trendPanel a.close {
  font-size: 28px;
  position: absolute;
  z-index: 10000;
  right: -10px;
  top: -0.5em;
  line-height: 0;
  background: #0c1444;
  padding: 0;
  width: 32px;
  height: 33px;
  text-align: center;
  border-radius: 3em;
  color: white;
}
.trendPanel a.close i {
  position: relative;
  top: 3px;
  left: 0;
}
.trendPanel a.close:hover {
  cursor: pointer;
}
.trendPanel a.close:hover i {
  color: #fc1921;
}

.trendPanel.active {
  display: block;
}

#graph-container {
  background: #f9f9f5;
  position: absolute;
  height: 92vh;
  right: 0;
  width: 80%;
  top: 8vh;
}
#graph-container .ui-brush {
  position: absolute;
}
#graph-container #wordcloud {
  margin-top: 0em;
  display: none;
}
#graph-container #scatterplot {
  display: none;
}
#graph-container #list {
  display: none;
}
#graph-container #treemap {
  display: none;
}
#graph-container #overlay {
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 100;
  display: none;
  position: absolute;
  top: 0px;
  opacity: 0.4;
}
#graph-container #overlay.active {
  display: block;
}

#graph-container.list-container #list {
  display: block;
}
#graph-container.list-container #list li span {
  display: block !important;
}

#graph-container.treemap-container #treemap {
  display: block;
}
#graph-container.treemap-container #treemap .node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

#graph-container.scatterplot-container #overlay.active {
  display: none;
}
#graph-container.scatterplot-container #scatterplot {
  display: block;
}
#graph-container.scatterplot-container #scatterplot .axis {
  stroke: gray;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
#graph-container.scatterplot-container #scatterplot .axis .tick {
  font-size: 0.8em;
}
#graph-container.scatterplot-container #scatterplot line, #graph-container.scatterplot-container #scatterplot path {
  stroke-width: 1px;
  stroke: gray;
}

#graph-container.wordcloud-container #wordcloud {
  display: block;
}
#graph-container.wordcloud-container .trendPanel {
  min-width: 200px;
  width: 30%;
  top: 33%;
  margin: 0 auto;
  text-align: center;
  left: 33%;
  padding: 1em;
  border-radius: 5px;
}

#series-container, .series-container {
  height: 50vh;
  width: 100%;
  position: relative;
}
#series-container .label, .series-container .label {
  stroke: lightgrey;
  font-size: 0.9em;
}
#series-container .tick, .series-container .tick {
  stroke: lightgrey;
  opacity: 0.7;
  font-size: 0.9em;
}
#series-container path, .series-container path {
  stroke-width: 2;
  fill: none;
}
#series-container .axis path,
#series-container .axis line, .series-container .axis path,
.series-container .axis line {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

/*  Trend Profile  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body.trends-trend #trendProfile {
  background: #0c1444;
  padding: 3em 0;
}
body.trends-trend #trendProfile header.pageHeader, body.trends-trend #trendProfile section {
  padding: 1em;
  border: 1px solid #ccc;
}
body.trends-trend #trendProfile .container {
  background: #f9f9f5;
  padding-bottom: 1em;
}
body.trends-trend #trendProfile #graph-container {
  width: 100%;
  position: relative;
  height: 50vh;
  right: auto;
  top: 0px;
}
body.trends-trend #trendProfile #graph-container .unavailableOverlay {
  height: 100%;
}
body.trends-trend #trendProfile #profileHeader {
  padding: 1em;
}
body.trends-trend #trendProfile #profileHeader img.locationMap {
  float: left;
  margin-right: 1em;
}
body.trends-trend #trendProfile #profileHeader h1 {
  font-size: 5em;
  font-weight: 400;
  line-height: 0;
  text-transform: capitalize;
  margin: 0.25em;
}
body.trends-trend #trendProfile #profileHeader h1 span.description {
  display: block;
  font-size: 0.2em;
  font-weight: 700;
  line-height: 1;
  text-transform: none;
  position: relative;
  right: -0.25em;
}
body.trends-trend #trendProfile #profileHeader #trendInfo {
  padding-top: 2em;
}
body.trends-trend #trendProfile #profileHeader #trendInfo h4 {
  margin: 0;
  text-align: center;
}
body.trends-trend #trendProfile #profileHeader #trendInfo #trendChange span {
  font-size: 3em;
  display: block;
}
body.trends-trend #trendProfile #profileHeader #trendInfo #trendChange p {
  margin: 0;
}
body.trends-trend #trendProfile #profileHeader #trendInfo .stats .stat {
  font-size: 3em;
  display: block;
  width: 100%;
  text-align: center;
}
body.trends-trend #trendProfile #profileHeader #trendInfo .stats p {
  margin: 0;
}
body.trends-trend #trendProfile #profileHeader #trendInfo #relatedTrends ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body.trends-trend #trendProfile #locationMap {
  height: 150px;
}
body.trends-trend #trendProfile #graph-container {
  width: 100%;
  position: relative;
  height: 50vh;
  right: auto;
  top: 0px;
}
body.trends-trend #trendProfile #graph-container .unavailableOverlay {
  height: 100%;
}
body.trends-trend #filters {
  padding: 1em;
  background: #ecece5;
}
body.trends-trend #filters ul {
  padding: 0;
  margin: 0;
  display: inline;
}
body.trends-trend #filters ul li {
  list-style: none;
  display: inline-block;
  margin: 0 1em;
}
body.trends-trend #filters ul li a {
  text-decoration: none;
  padding: 0.25em 0.5em;
  border: #008e8f solid 1px;
  color: #008e8f;
}
body.trends-trend #filters ul li.selected a {
  background: #008e8f;
  color: white;
  border-radius: 2px;
}
body.trends-trend #trendInfo .stats {
  border-right: 1px solid #e9e9e9;
}
body.trends-trend #trendInfo .stats:last-child {
  border-right: none;
}
body.trends-trend #trendInfo .stats h4.increasing .fa-caret-down {
  display: none;
}
body.trends-trend #trendInfo .stats h4.decreasing .fa-caret-up {
  display: none;
}
body.trends-trend #mapContainer {
  background: transparent;
  max-height: 220px;
  overflow-y: hidden;
  margin: 2em 0 0 0;
}
body.trends-trend #mapContainer .land {
  fill: rgba(200, 200, 200, 0.5);
}
body.trends-trend #trend-graphs {
  margin: 0 1em 1em 1em;
  background: white;
}
body.trends-trend #trend-graphs .history, body.trends-trend #trend-graphs .sources, body.trends-trend #trend-graphs .related {
  display: none;
  position: relative;
}
body.trends-trend #trend-graphs.history-tab-open .history {
  display: block !important;
}
body.trends-trend #trend-graphs.sources-tab-open .sources {
  display: block !important;
}
body.trends-trend #trend-graphs.related-tab-open .related {
  display: block !important;
}
body.trends-trend #trendSources {
  margin: 0 1em 1em 1em;
  background: white;
}
body.trends-trend #trendSources .allSources, body.trends-trend #trendSources .twitterSources, body.trends-trend #trendSources .academicSources, body.trends-trend #trendSources .newsSources, body.trends-trend #trendSources .blogSources {
  display: none;
}
body.trends-trend #trendSources.all-tab-open .allSources {
  display: block !important;
}
body.trends-trend #trendSources.twitter-tab-open .twitterSources {
  display: block !important;
}
body.trends-trend #trendSources.academic-tab-open .academicSources {
  display: block !important;
}
body.trends-trend #trendSources.news-tab-open .newsSources {
  display: block !important;
}
body.trends-trend #trendSources.blog-tab-open .blogSources {
  display: block !important;
}
body.trends-trend #trendSources ul.sourceList {
  list-style: none;
  margin: 0;
  padding: 0;
}
body.trends-trend #trendSources ul.sourceList li {
  padding: 0.5em 0;
  word-wrap: break-word;
  border-top: 1px solid #e9e9e9;
}
body.trends-trend #trendSources ul.sourceList li span {
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
}
body.trends-trend #trendSources .panelHeader {
  padding: 1em 0;
}
body.trends-trend #trendSources .panelHeader h2 {
  display: inline-block;
  margin: 0;
}
body.trends-trend #trendSources .panelHeader div.exportButtons {
  float: right;
}
body.trends-trend #trendSources .panelHeader div.exportButtons a {
  background: #0c1444;
  color: white;
  padding: 0.25em 0.5em;
  text-decoration: none;
  display: inline-block;
}
body.trends-trend #trendSources .panelHeader div.exportButtons a:hover {
  background: #008e8f;
}
body.trends-trend .pagination {
  padding: 0;
}
body.trends-trend .pagination li {
  margin-right: 0.5em;
  list-style: none;
  display: inline-block;
}
body.trends-trend .pagination li a {
  text-decoration: none;
  border: 1px solid #232690;
  color: #232690;
  font-weight: 600;
  padding: 0.25em 0.5em;
  border-radius: 2px;
}
body.trends-trend .pagination li a:hover {
  background: #008e8f;
  border-color: #008e8f;
  color: white;
}
body.trends-trend .pagination li.active a {
  background: #008e8f;
  border-color: #008e8f;
  color: white;
}

#node-container circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}
#node-container line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

/*  Location Profile  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body.locations-location #cityProfile {
  background: #0c1444;
  padding: 3em 0;
}
body.locations-location #cityProfile header.pageHeader, body.locations-location #cityProfile section {
  padding: 1em;
  border: 1px solid #ccc;
}
body.locations-location #cityProfile #profileHeader {
  padding: 1em;
}
body.locations-location #cityProfile #profileHeader img.locationMap {
  float: left;
  margin-right: 1em;
}
body.locations-location #cityProfile #profileHeader h1 {
  font-size: 5em;
  font-weight: 400;
  line-height: 0;
  text-transform: capitalize;
  margin: 0.25em;
}
body.locations-location #cityProfile #profileHeader h1 span.description {
  display: block;
  font-size: 0.2em;
  font-weight: 700;
  line-height: 1;
  text-transform: none;
  position: relative;
  right: -0.25em;
}
body.locations-location #cityProfile #profileHeader #trendInfo {
  padding-top: 2em;
}
body.locations-location #cityProfile #profileHeader #trendInfo h4 {
  margin: 0;
  text-align: center;
}
body.locations-location #cityProfile #profileHeader #trendInfo #trendChange span {
  font-size: 3em;
  display: block;
}
body.locations-location #cityProfile #profileHeader #trendInfo #trendChange p {
  margin: 0;
}
body.locations-location #cityProfile #profileHeader #trendInfo .stats .stat {
  font-size: 3em;
  display: block;
  width: 100%;
  text-align: center;
}
body.locations-location #cityProfile #profileHeader #trendInfo .stats p {
  margin: 0;
}
body.locations-location #cityProfile #profileHeader #trendInfo #relatedTrends ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body.locations-location #cityProfile .container {
  background: #f9f9f5;
}
body.locations-location #cityProfile #locationMap {
  height: 150px;
}
body.locations-location #cityProfile #graph-container {
  width: 100%;
  position: relative;
  height: 50vh;
  right: auto;
  top: 0px;
}
body.locations-location #cityProfile #graph-container .unavailableOverlay {
  height: 100%;
}
body.locations-location #mapContainer {
  float: right;
  background: transparent;
  max-height: 220px;
  overflow-y: hidden;
  margin: 0 0 0 0;
}
body.locations-location #mapContainer .land {
  fill: rgba(200, 200, 200, 0.5);
}
body.locations-location div.chart div {
  padding: 0.25em;
  margin-top: 2em;
}
body.locations-location div.chart div:nth-child(1) {
  background: #e2014d;
}
body.locations-location div.chart div:nth-child(2) {
  background: #ffd600;
}
body.locations-location div.chart div:nth-child(3) {
  background: #008e8f;
}
body.locations-location div.chart div:nth-child(4) {
  background: #634400;
}
body.locations-location div.chart div:nth-child(5) {
  background: #232690;
}
body.locations-location div.chart div:nth-child(6) {
  background: #fc1921;
}
body.locations-location div.chart div:nth-child(7) {
  background: #faa433;
}
body.locations-location div.chart div:nth-child(8) {
  background: #232690;
}
body.locations-location div.chart div:nth-child(9) {
  background: #98cb99;
}
body.locations-location div.chart div:nth-child(10) {
  background: #66afe9;
}
body.locations-location div.chart div span {
  position: relative;
  top: -1.5em;
  left: -0.25em;
  text-transform: capitalize;
}
body.locations-location section#trendsOverview {
  border-bottom: none;
  padding-bottom: 0;
}

/*  Profile Timespan styling  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#trendProfile .timespan-container .ui-brush, .locations-location .timespan-container .ui-brush {
  background: #f9f9f5;
  fill: white;
}
#trendProfile .timespan-container .ui-brush .tick, .locations-location .timespan-container .ui-brush .tick {
  fill: #0c1444;
}
#trendProfile .timespan-container .ui-brush path, #trendProfile .timespan-container .ui-brush line, .locations-location .timespan-container .ui-brush path, .locations-location .timespan-container .ui-brush line {
  stroke: #0c1444;
}
#trendProfile .timespan-container .ui-brush g.axis, .locations-location .timespan-container .ui-brush g.axis {
  filter: #0c1444;
}
#trendProfile .timespan-container .ui-brush .background, .locations-location .timespan-container .ui-brush .background {
  fill: #e9e9e5;
  visibility: visible !important;
}
#trendProfile .timespan-container .ui-brush g.resize rect, .locations-location .timespan-container .ui-brush g.resize rect {
  background: url("../images/grip.png ");
}

/*  Tabs  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.tabs {
  padding: 1em 1em 0 1em;
}

button.tab {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  background: #ecece3;
  border-radius: 3px 3px 0 0;
  position: relative;
  bottom: -1px;
  cursor: pointer;
}

button.tab:focus {
  outline: none;
}

button.tab.active {
  background: white;
  border-bottom-color: white;
}

@media (max-width: 600px) {
  /*  MOBILE: Layout  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
  body {
    padding-top: 50px;
  }

  #pageHeader {
    border-bottom-width: 0 !important;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
  }
  #pageHeader #logo {
    margin: 10px 20px;
  }
  #pageHeader #main-menu ul.pure-menu-list li {
    border-bottom: 1px solid grey;
  }
  #pageHeader .pure-menu-has-children {
    padding-bottom: 1em;
  }
  #pageHeader .pure-menu-has-children > a {
    color: grey;
    font-size: 0.5em;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 2em !important;
  }
  #pageHeader .pure-menu-has-children li {
    border-bottom: none !important;
  }
  #pageHeader .pure-menu-has-children li a {
    padding: 0.5em !important;
  }

  body.trend-explorer .pure-menu-link.te-btn:before,
  body.locations-location .pure-menu-link.location-btn:before,
  body.about .pure-menu-link.about-btn:before {
    position: relative;
    right: inherit;
    top: inherit;
    margin-top: inherit;
    font-family: FontAwesome;
    content: none;
    font-size: inherit;
    color: #0c1444;
  }

  #toggle {
    display: block !important;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    margin: 0.25em;
  }
  #toggle i {
    font-size: 2em;
    color: #0c1444;
  }

  #main-menu {
    width: 100%;
    float: none;
    background: #f9f9f5;
    display: none;
    height: 100vh;
    margin-top: -50px;
    padding: 70px 0;
    text-align: center;
  }
  #main-menu ul.pure-menu-list {
    font-size: 1.5em;
  }
  #main-menu ul.pure-menu-list li {
    display: block;
  }
  #main-menu ul.pure-menu-list ul.pure-menu-children {
    background: #f9f9f5;
    position: relative !important;
    display: block;
  }
  #main-menu ul.pure-menu-list ul.pure-menu-children .pure-menu-link:after {
    content: none !important;
  }

  #main-menu .pure-menu-has-children > .pure-menu-link:after {
    content: none !important;
  }

  /*  MOBILE: Home Page  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
  body.home .splash {
    position: absolute;
    height: auto;
    background: #0c1444;
    top: inherit;
  }
  body.home .splash #searchbox {
    padding: 30px 20px 0 20px;
  }
  body.home .splash #searchbox h1 {
    margin: 0 0 1em 0;
    font-size: 1.25em;
    line-height: 1.25;
  }
  body.home .splash #searchbox form {
    position: relative;
  }
  body.home .splash #searchbox form input[type="text"] {
    width: 95% !important;
  }
  body.home .splash #searchbox form button {
    position: absolute;
    top: 0;
    right: 0;
  }
  body.home .splash #searchbox a#cta {
    width: 99%;
    font-size: 1em;
  }
  body.home #introduction {
    padding: 3em 20px;
  }
  body.home #introduction img {
    max-width: 80%;
    height: auto;
  }
  body.home #introduction #pa-logo {
    display: block;
    margin-left: 0px;
    margin-bottom: 1em;
  }
  body.home #introduction #edu img {
    max-width: 80%;
  }
  body.home #mapContainer {
    padding-top: 7.5em;
  }
  body.home #top-trends {
    text-align: center;
  }
  body.home #top-trends .locationTop {
    margin-bottom: 2em;
  }
  body.home #top-trends li {
    border: none;
  }

  /*  MOBILE: TRENDS EXPLORER  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
  #side-menu {
    width: 100%;
    position: relative;
    bottom: auto;
  }
  #side-menu .padding {
    padding-top: 1em;
  }
  #side-menu #viewOptions {
    display: none;
  }
  #side-menu button#showFiltersMobile {
    display: block;
    width: 100%;
    background: #ffd600;
    text-align: center;
    text-decoration: none;
  }
  #side-menu #toggleViews {
    display: none;
  }

  #graph-container {
    width: 100% !important;
  }

  #graph-container {
    top: auto;
    bottom: 0;
    padding-top: 5em;
    float: none;
    overflow: scroll;
  }
  #graph-container #list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  #graph-container #list ul li {
    border-bottom: 1px solid #e9e9e9;
    font-size: 2em;
    line-height: 1;
    font-weight: 400;
    padding: 10px 20px;
  }
  #graph-container #list ul li a {
    text-transform: capitalize;
    word-wrap: break-word;
    text-decoration: none;
  }
  #graph-container #list ul li a span {
    margin-top: 0.25em;
    font-style: italic;
    display: block;
    font-size: 0.5em;
    font-weight: 600;
  }

  #graph-container.wordcloud-container #wordcloud {
    display: none !important;
  }

  #graph-container.wordcloud-container #list {
    display: block !important;
  }

  .ui-brush {
    position: fixed !important;
  }
  .ui-brush .tick {
    display: none;
  }
  .ui-brush .tick:nth-child(3n+1) {
    display: block;
  }

  /*  MOBILE: TRENDS PROFILE  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
  #profileHeader h1 {
    margin: 0.25em 0 0 0;
  }

  button.tab span {
    display: none;
  }

  /*  MOBILE: LOCATION PROFILE  –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
  body.locations-location section h2 {
    margin-top: 0;
  }
  body.locations-location div.chart {
    width: 100%;
  }
}
/* End of Mobile Styles    */
@media (max-width: 1200px) {
  .mediumscr-hide {
    display: none;
  }

  div.locationPanel.mediumscr-hide {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  .container {
    max-width: 750px;
  }
}
@media screen and (min-width: 64em) {
  .container {
    max-width: 1000px;
  }
}
@media screen and (min-width: 80em) {
  .container {
    max-width: 1200px;
  }
}

/*# sourceMappingURL=style.css.map */
